@import 'tailwindcss';

:root {
  --color-primary: #2563eb; /* niebieski */
  --color-secondary: #60a5fa; /* jasny niebieski */
  --color-danger: #ef4444; /* czerwony */
  --color-bg: #f9fafb; /* tło strony */
}

@utility btn-* {
  @apply inline-flex cursor-pointer place-items-center justify-center rounded-lg border px-6 py-2 text-center font-semibold transition-colors duration-150;

  background-color: var(--value(--color-primary));
  border: 1px solid var(--value(--color-primary));
  color: var(--modifier(--color-primary));

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }
}

@utility btn-secondary {
  @apply inline-flex cursor-pointer place-items-center justify-center rounded-lg border px-6 py-2 text-center font-semibold transition-colors duration-150;
  background-color: var(--value(--color-secondary));
  border: 1px solid var(--value(--color-secondary));
  color: white;

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }
}

@utility card {
  @apply bg-white rounded-lg p-4 shadow-md;

  @screen sm {
    @apply p-5;
  }
  @screen lg {
    @apply p-6;
  }
}

@utility chart-container {
  @apply bg-white rounded-lg p-4 shadow-lg min-h-[250px];

  @screen sm {
    @apply min-h-[300px] p-5;
  }
  @screen lg {
    @apply min-h-[350px] p-6;
  }
}

@utility alert {
  @apply text-white rounded-md p-3 font-semibold;
  background-color: var(--value(--color-danger));

  @screen sm {
    @apply p-4;
  }
}

@utility measure-value {
  @apply text-xl font-bold text-gray-800;

  @screen sm {
    @apply text-2xl;
  }
}

@utility measure-label {
  @apply text-gray-500 text-sm uppercase tracking-wide;

  @screen sm {
    @apply text-base;
  }
}

@utility cards-grid {
  @apply grid grid-cols-1 gap-4;

  @screen sm {
    @apply grid-cols-2 gap-5;
  }
  @screen lg {
    @apply grid-cols-3 gap-6;
  }
}
