@import 'tailwindcss';

@theme {
  --color-primary: var(--color-blue-600); /* niebieski */
  --color-secondary: var(--color-blue-400); /* jasny niebieski */
  --color-danger: var(--color-red-600); /* czerwony */
  --color-rose: var(--color-rose-400); /*jasny czerwony*/
}

@utility btn-* {
  @apply inline-flex cursor-pointer place-items-center justify-center rounded-lg border px-6 py-2 text-center font-semibold transition-colors duration-150;

  background-color: --value(--color-*);
  border: 1px solid --value(--color-*);
  color: --modifier(--color-*);

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }
}

@utility card-* {
  @apply bg-white rounded-lg p-4 shadow-md;
  background-color: --value(--color-*);

  @screen sm {
    @apply p-5;
  }
  @screen lg {
    @apply p-6;
  }
}

@utility chart-container {
  @apply bg-white  p-4  min-h-[200px];

  @screen sm {
    @apply min-h-[300px] p-5;
  }
  @screen lg {
    @apply min-h-[350px] p-6;
  }
}

@utility alert-* {
  @apply text-white rounded-md p-3 font-semibold;
  background-color: --value(--color-*);

  @screen sm {
    @apply p-4;
  }
}

@utility measure-value {
  @apply text-xl font-bold text-gray-800;

  @screen sm {
    @apply text-2xl;
  }
}

@utility measure-label {
  @apply text-gray-800 text-sm uppercase tracking-wide;

  @screen sm {
    @apply text-base;
  }
}
