.measures-table[data-v-4ec64557]{padding:1rem}table[data-v-4ec64557]{width:100%;border-collapse:collapse}th[data-v-4ec64557],td[data-v-4ec64557]{border-bottom:1px solid #ddd;padding:.5rem;text-align:left}
