<section class="mb-8">
  <h1 class="text-2xl font-bold mb-4">Wyniki pomiarów</h1>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-5 mx-auto place-items-center">
    <app-temperature class="card-rose w-full" [measure]="store.temperature()" />
    <app-pressure class="card-secondary w-full" [measure]="store.pressure()" />
  </div>
</section>

<section>
  <app-chart
    [temperatureData]="store.temperatureHistory"
    [pressureData]="store.pressureHistory"
  ></app-chart>

  <vue-measures-table #vueTable></vue-measures-table>
</section>
